
// Imports
@use '../../node_modules/normalize.css/normalize';
@use 'variables';
@use 'blockquotes';
@use 'code';
@use 'mobile-menu';
@use 'technologies';
@use 'analysis';
@use 'gallery';

// Fonts
@import url('https://fonts.googleapis.com/css2?family=Kanit:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('https://db.onlinewebfonts.com/c/9177027d537011f596f6e7ec988e1441?family=Futura+LT+W04+Bold');

// Body
body {
    background-image: linear-gradient(to bottom right, variables.$background-color, variables.$background-color-fade);
}

* {
    color: variables.$font-color;
    font-family: variables.$font-family;
    line-height: 1.4;
}

a {
    text-decoration: none;
}

p {
    font-size: 1.25em;
    margin-bottom: 1.75rem;

    img {
        border-radius: variables.$radius;
    }
}

h1 {
    font-size: 2.4em;
    margin-bottom: 0.5rem;
}

body {
    display: flex;
    flex-direction: column;
    background-color: variables.$background-color;
}

.main {
    flex: 1 0 auto;
    display: flex;
    justify-content: center;
}

.content {
    margin: 5px auto;
    width: 90%;
    max-width: 1000px;
    border: solid 2px variables.$border-color;
    border-radius: variables.$radius;
    background-color: variables.$background-alternative-color;
    padding: 30px;
}

// Marginals
@mixin marginals {
    display: flex;
    justify-content: space-between;
    width: 100%;
    flex: 0 0 auto;
}

// Header

.header {
    @include marginals;
}

// Footer

.footer {
    @include marginals;
}

.footer .social {
    font-size: 2rem;
}
