$font-color: #CE9178;
$font-alternative-color: #fff;
$accent-color: #7CDCF0;
$background-color: #181818;
$background-color-fade: #181818;
$background-alternative-color: #1F1F1F;
$border-color: #6E7681;
$box-color: #181818;
$font-family: "Kanit", serif;
$a-hover: #F5AD29;
$radius: 10px;
