$font-color: #6E2600;
$font-alternative-color: #fff;
$accent-color: #ee6c4d;
$background-color: #86AF81;
$background-color-fade: #B4C8A6;
$background-alternative-color: #F2DDCB;
$border-color: #000;
$box-color: #E5B7A1;
$font-family: "Kanit", serif;
$a-hover: #C28874;
$radius: 10px;
