$font-color: #ce9178;
$font-alternative-color: #fff;
$accent-color: #7cdcf0;
$background-color: #181818;
$background-color-fade: #181818;
$background-alternative-color: #1f1f1f;
$border-color: #6e7681;
$box-color: #181818;
$font-family: 'Consolas', serif;
$a-hover: #f5ad29;
$radius: 10px;
