$font-color: #6e2600;
$font-alternative-color: #fff;
$accent-color: #ee6c4d;
$background-color: #86af81;
$background-color-fade: #b4c8a6;
$background-alternative-color: #f2ddcb;
$border-color: #000;
$box-color: #e5b7a1;
$font-family: 'Kanit', serif;
$a-hover: #c28874;
$radius: 10px;
