@import '../../node_modules/normalize.css/normalize';
@import 'variables';

@import 'blockquotes';
@import 'code';

body {
    background-color: $background-color;
}

* {
    color: $font-color;
}

body {
    display: flex;
    flex-direction: column;
    background-color: #ddd;
}

.main {
    flex: 1 0 auto;
    display: flex;
    justify-content: center;
}

.content{
    margin: 5px auto;
    width: 90%;
    max-width: 1000px;
    border: solid 2px black;
    border-radius: 10px;
    background-color: white;
    padding: 15px;
  }